body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  max-height: 100vh;
}

.container {
  padding-top: 5vh;
  /* max-height: 95vh; */
  /* overflow: hidden; */
}
.contacts_list {
  height: 56vh;
  overflow-x: auto;
}
